* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	font-family: Helvetica, Arial;
	color: #383838;
}

p {
	font-family: georgia, times;
	padding: 15px;
}

section {
	margin-bottom: 2.5%;
}

.row {
	width:100%;
}

.hero {
	font-size: 48px;
	font-weight: 600;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.box {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	background: #c6c6c6;
	border: 1px solid black;
}

.sec-head {
	min-width: 44%;
	min-height: 46px;
	font-size: 26px;
	padding: 10px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 56%;
	margin-bottom: 15px;
	text-align: center;
	float: right;
}

#sushi h2 {
	background-color: yellow;
}

#beef h2 {
	color: white;
	background-color: red;
}

#chicken h2 {
	background-color: pink;
}


@media (min-width: 992px) {

#chicken {
	float: left;
	width: 30.83%;
	margin-left: 2.5%;
}

#beef {
	float: left;
	width: 30.83%;
	margin-right: 1.25%;
	margin-left: 1.25%;
}

#sushi {
	float: left;
	width: 30.83%;
	margin-right: 2.5%;
}

}

@media (min-width: 768px) and (max-width: 991px) {

#chicken {
	float: left;
	width: 47.5%;
	margin-left: 2.5%;
}

#beef {
	float: left;
	width: 47.5%;
	margin-right: 2.5%;
}

#sushi {
	display: inline-block;
	width: 100%;
}

#sushi .sec-head{
min-width: 22%;
margin-left: 78%;
}

}